$altoCarril:2em;
$anchoCarril: 5em;

$incremento:.5em;

$medidaBola:$altoCarril+$incremento;
$cuadreBola:$incremento/2;

$colorPrimario:rgb(255, 255, 175);
$colorSecundario:rgb(184, 236, 134);
.toggle{
  display: flex;
  justify-content: space-around;
  align-content: center;
  & label{
    display:inline-block;
    width:$anchoCarril;
    height:$altoCarril;
    background-color:$colorPrimario;
    position:relative;
    border-radius:1em;
    box-shadow: inset .3px .3px 5px,inset -.3px -.3px 5px,;
    & bola{
      border-radius:50%;
      position:absolute;
      display:inline-block;
      width:$medidaBola;
      height:$medidaBola;
      top:-$cuadreBola;
      background-color:$colorSecundario;
      box-shadow: inset -3px -3px 15px;
    }
  }
  & input{
    display: none;
    &:checked + label>bola{
      right: 0;
    }
  }
}