.toggle label{
    display:inline-block;
    width:5em;
    height:2em;
    background-color:rgb(255, 255, 175);
    position:relative;
    border-radius:1em;
    box-shadow: inset .3px .3px 5px,inset -.3px -.3px 5px,;
    & bola{
      border-radius:50%;
      position:absolute;
      display:inline-block;
      width:2em;
      height:2em;
      background-color:rgb(184, 236, 134);
      box-shadow: inset -3px -3px 15px;
    }
  }
.toggle input:checked + label>bola{
    right:0;
  }
  
.toggle input{
    display:none;
  }

.toggle{
  display: flex;
  justify-content: space-around;
  align-content: center;
}