$desenfoque:50;
$sombra:5;
#ver{
    display: block;
    width: 50%;
    text-align: center;
    padding: 2%;
    border-radius: 1ex;
    text-decoration: none;
    color: black;
    background-color: rgb(184, 236, 134);
    font-size: 2em;
    cursor: pointer;
    margin: 0 auto;
}