body{
    display: flex;
}

nav{
    width: 25vw;
    height: 100vh;
    &>p{
        padding: 2%;
    }
    & #modificable{
        flex-direction: column;
        justify-content: space-between;
        padding: 2%;
        & p{
            & span{
                display: block;
                margin-bottom: 3%
            }
            & > select{
                display: block;
                width: 75%;
                margin:0 auto;
            }
            & label{
                width: 100%;
                display: inline-block;
                padding: 2%;
                cursor: pointer;
                border: thin solid;
                margin:1%;
            }
        }
    }
}
#mapa{
    flex-basis:75vw;
    height: 100vh;
    filter: none;
}
