body{
    display: flex;
}

nav{
    min-width: 20vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    &>*{
        flex-basis: (40%/3);
    }
    & #modificable{
        flex-basis: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2%;
        overflow-y: scroll;
        & p{
            & label{
                width: 100%;
                display: inline-block;
                padding: 2%;
                cursor: pointer;
                border: thin solid;
                margin:1%;
                & input{
                    display: none;
                    &:checked+span::after{
                        content: "✓";
                        color:green;
                        font-size: 1.5em;
                    }
                }
            }
        }
    }
}
#mapa{
    flex-basis:80vw;
    height: 100vh;
    filter: none;
}
.controlaFiltros{
    display: none;
    & + input{
        display: none;
    }
}