$columnasPaises:3;
$velocidadTransition:.75s;
#mapa{
    min-width:100vw;
    min-height: 100vh;
}
nav{
    position: absolute;
    z-index: 5;
    height: 100vh;
    overflow: hidden;
    width: 0;
    transition:$velocidadTransition;
    & #modificable{
        overflow-x:hidden;
        flex-wrap: wrap;
        & > p{
            flex-basis: (100%/$columnasPaises);
            & > span{
                display: block;
                margin: 2%;
            }
            & >select{
                width: 100vw;
                height: 15%;
            }
            & label{
                display: flex;
                height: 100%;
                justify-content: center;
                align-items: center;
            }
        }
    }
}